<div class="card mt-2">
  <h5 class="card-header">Create new awesome</h5>
  <div class="card-body">
    <form>
      <table style="width: 80%">
        <tr class="form-group">
          <td><label>Tag</label></td>
          <td><input type="text" class="form-control"></td>
        </tr>
        <tr class="form-group ">
          <td><label>Url</label></td>
          <td><input type="text" class="form-control"></td>
        </tr>
        <tr class="form-group mt-3">
          <td><label>Descriptions</label></td>
          <td><textarea class="form-control"></textarea>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <button class="btn btn-primary">Create</button></td>
        </tr>
      </table>
    </form>
  </div>
</div>
